:root {
  --black: #0e1126;
  --grey: #282922;
  --white: #f2f2f2;
  --yellow: #f3b61f;
  --purple: #6c3f74;
}

i,
a,
p,
li {
  font-family: "Josefin";
  font-size: 14pt;
  color: var(--white);
}

h1 {
  font-family: "Fira Mono";
  font-size: 24pt;
  font-weight: 800;
}

h2 {
  font-family: "Fira Mono";
  font-size: 20pt;
}

h3 {
  font-family: "Fira Mono";
  font-size: 18pt;
}

h1,
h2,
h3 {
  color: var(--white);
}

pre {
  font-family: "Fira Mono";
  color: var(--white);
  font-size: 10pt;
  line-height: 1.2;
}

@font-face {
  font-family: "Material Icons";
  font-style: normal;
  font-weight: 400;
  src: local("Material Icons"), local("MaterialIcons-Regular"),
    url("MaterialIcons-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Josefin";
  font-style: normal;
  src: local("Josefin Sans"),
    url("JosefinSans-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Josefin";
  font-style: italic;
  src: local("Josefin Sans"),
    url("JosefinSans-Italic-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Fira Mono";
  font-style: normal;
  font-weight: 100;
  src: local("Fira Mono"), url("FiraMono-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Fira Mono";
  font-weight: 500;
  src: local("Fira Mono"), url("FiraMono-Bold.ttf") format("truetype");
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  font-feature-settings: "liga";
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}

.container {
  height: 100svh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  background-color: var(--black);
  overflow: hidden;
}

.header {
  background-color: var(--purple);
  width: 100%;
  height: 4em;
  display: flex;
  align-items: center;
  gap: 1em;
  padding: 0 1em;
  z-index: 100;

  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.75);
}

.breadcrumb > a {
  font-family: "Fira Mono";
  font-weight: 500;
}

.breadcrumb > span {
  color: var(--white);
}

.breadcrumb > span.sep {
  font-weight: bold;
  font-size: 120%;
}

.vr {
  border-left: 4px dotted var(--white);
  margin: 0.5em 0;
  height: calc(100% - 1em);
}

footer {
  background-color: var(--yellow);
  box-shadow: 0px -2px 10px 0px rgba(0, 0, 0, 0.75);
  z-index: 100;
}

footer > .info {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5em;
  height: 2em;
}

.info > .entries {
  color: var(--black);
  font-family: "Fira Mono";
  font-size: 10pt;
}

.info > .version {
  color: var(--black);
}

span.pwd {
  font-family: "Fira Mono";
  font-weight: normal;
}

.content {
  overflow-y: scroll;
}

.entry-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  margin: 1em;
  gap: 1em;
}

.entry-grid > .entry {
  aspect-ratio: 1;
  background-color: var(--grey);
  border-radius: 1em;
  overflow: hidden;
  isolation: isolate;
}

.entry > div {
  width: 100%;
  height: 100%;
}

.entry > div > img {
  width: 100%;
  height: 100%;
  transform: translateY(calc(-100% - 4px));
  object-fit: contain;
}

.entry:has(a) {
  display: grid;
  place-items: center;
  user-select: none;
}

.entry > a {
  display: flex;
  flex-direction: column;
  
  justify-content: center;
  align-items: center;

  text-decoration: none;
}

.entry > a {
  padding: 0 1em;
  text-align: center;
  word-break: break-word;
  text-wrap: balance;
  text-overflow: ellipsis;
}

.entry > a.disabled {
  pointer-events: none;
}

.entry > a > span {
  text-decoration: underline;
}

.entry > a.disabled > span {
  text-decoration: none;
}

.entry > a > i {
  color: var(--yellow);
}

.entry > a > span:nth-child(2n+1) {
  font-size: 10pt;
}